/*=================CABEZERA=========================*/

.social_logo {
    width: 30px;
    height: 30px;
}
.navbar-brand{
    width: 270px;
}
.navbar-brand img{
    width: auto;
}
.navbar-nav{
    padding-top: 10px;
    position: relative;
    float: right;
}

@media screen and (max-width: 333px) {
    .navbar-brand{
        width: 150px;
    }
}
@media screen and (max-width: 200px) {
    .navbar-brand{
        width: 100px;
    }
}


<<<<<<< HEAD

.glyphicon.glyphicon-user{

    font-size: 70px;
}
.glyphicon.glyphicon-plus-sign{

    font-size: 30px;
}
=======
.rangeSlider {
    width: 200px;
}
.form_inputs{
    width: 200px; 
    >>>>>>> 6ab3ce527173793364de4c80bcca16e9225181cd
}
.imgPerfil{
    width: 80%;
    height: 80%;
    margin-top: 10px;        
    margin-bottom:  10px;        
}
#img_perfil{
    width: 25%;
    height: 25%;
}