<!--   Filtros-->
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <center><h1 class="title">Encuetra los Mejores Candidatos</h1></center>
        <center>
            <form class="form-horizontal">                   
                <div class="form-group">
                    <label class="col-md-6 control-label"><input type="checkbox">Nivel de Estudio/Educación</label>  
                    <div class="col-md-3">
                        <div class="form-group" id="educacion">
                            <select id="nivel_educacion" class="form-control form_inputs" multiple="multiple">
                                <!--                                <option ng-repeat="nivel in educacion" value="{{nivel}}">{{nivel}}</option>-->
                                <option>Bachiller</option>
                                <option>Licenciado</option>
                                <option>Tecnólogo</option>
                                <option>Ingeniero</option>
                                <option>Master</option>
                                <option>PHD</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-6 control-label"><input type="checkbox">Cursos</label>
                    <div class="col-md-3">
                        <div class="form-group">
                            <select id="cursos" class="form-control form_inputs" multiple="multiple">
                                <option>Desarrollo Humanoy Gerencial</option>
                                <option>Ventas y Servicio al Cliente</option>
                                <option>Administracion Estadistica Aplicada</option>
                                <option>Selección y Evaluacion Personal</option>
                                <option>Redes</option>
                                <option>Seguridad en Redes</option>
                                <option>Programacion</option>
                                <option>Desarrollo WeB/Movil</option>
                                <option>Ofimática</option>
                            </select>
                        </div>
                    </div>                       
                </div>
                <div class="form-group">
                    <label class="col-md-6 control-label"><input type="checkbox">Experiencia Laboral {{exp_laboral.max_value}} años</label>
                    <div class="col-md-3">
                        <div class="rangeSlider" range-slider min="0" max="10" model-min="0" model-max="exp_laboral.max_value" pin-handle="min" disabled="false"></div>
                    </div>                                                   
                </div>
                <div class="form-group">
                    <label class="col-md-6 control-label"><input type="checkbox">Jornada de Trabajo</label>   
                    <div class="col-md-3">
                        <div class="form-group">
                            <select id="jornada_job" class="form-control form_inputs" multiple="multiple">
                                <option>Fines de semana</option>
                                <option>Tiempo completo</option>
                                <option>Medio tiempo</option>
                                <option>Por horas</option>
                            </select>
                        </div>
                    </div>    
                </div>
                <div class="form-group">
                    <label class="col-md-6 control-label"><input type="checkbox">Categoria</label>
                    <div class="col-md-3">
                        <div class="form-group">
                            <select id="categorias" class="form-control form_inputs" multiple="multiple">
                                <option>Ventas</option>
                                <option>Administración</option>
                                <option>Oficina</option>
                                <option>Informática</option>
                                <option>Telecomunicaciones</option>
                                <option>Hostelería</option>
                                <option>Turismo</option>
                                <option>Atención a clientes</option>
                                <option>Contabilidad</option>
                                <option>Finanzas</option>
                                <option>Transporte</option>
                                <option>Manufactura</option>
                                <option>Mercadotécnia / Publicidad</option>
                                <option>Construccion y obra</option>
                                <option>CallCenter / Telemercadeo</option>
                                <option>Ingeniería</option>
                                <option>Docencia</option>
                                <option>Recursos Humanos</option>
                            </select>
                        </div>
                    </div>  
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label"><input type="checkbox">Edad</label>
                    <div class="col-md-3">
                        <label class="col-md-3 control-label">Desde</label>
                        <div class="form-group" id="min_edad">
                            <select class="form-control form_inputs" >
                                <option  ng-repeat="edad in min_edad">{{edad}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label class="col-md-3 control-label">Hasta</label>
                        <div class="form-group" id="max_edad">
                            <select class="form-control form_inputs" >
                                <option  ng-repeat="edad in max_edad">{{edad}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-6 control-label"><input type="checkbox">Ubicación</label>
                    <div class="col-md-3">
                        <div class="form-group" id="ubicacion">
                            <select class="form-control form_inputs" >
                                <option ng-repeat="lugar in ubicacion">{{lugar}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <center><button type="button" class="btn btn-default"><a ui-sref="resultados">Buscar</a></button></center>                               
                </div>
            </form>
        </center>                
    </div>

</div>