<!--   Filtros-->
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <center><h1 class="title">Encuetra los Mejores Candidatos</h1></center>
        <center>
            <form class="form-horizontal">                   
                <div class="form-group">
                    <label class="col-md-6 control-label">Nivel de Estudio/Educación</label>  
                    <div class="col-md-3">
                        <div class="form-group" id="educacion">
                            <select id="nivel_educacion" class="form-control form_inputs" multiple="multiple" ng-model="filtro">
                                                             
                                <!--<option ng-repeat="nivel in educacion" value="{{nivel}}">{{nivel}}</option>-->
                                <option>Bachiller</option>
                                <option>Licenciado</option>
                                <option>Tecnólogo</option>
                                <option>Ingeniero</option>
                                <option>Master</option>
                                <option>PHD</option>
                                <option>universitario</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-6 control-label">Cursos</label>
                    <div class="col-md-3">
                        <div class="form-group">
                            <select id="cursos" class="form-control form_inputs" multiple="multiple" ng-model="filtro">
                                <option>Desarrollo Humanoy Gerencial</option>
                                <option>Ventas y Servicio al Cliente</option>
                                <option>Administracion Estadistica Aplicada</option>
                                <option>Selección y Evaluacion Personal</option>
                                <option>Redes</option>
                                <option>Seguridad en Redes</option>
                                <option>Programacion</option>
                                <option>Desarrollo WeB</option>
                                <option>Ofimática</option>
                            </select>
                        </div>
                    </div>                       
                </div>
                <div class="form-group">
                    <label class="col-sm-4 col-md-6 control-label">Experiencia Laboral {{exp_laboral.max_value}} años</label>
                    <div class="col-sm-4 col-md-3">
                        <div class="rangeSlider" range-slider min="0" max="10" model-min="0" model-max="exp_laboral.max_value" pin-handle="min" disabled="false"></div>
                    </div>                                                   
                </div>
                <div class="form-group">
                    <label class="col-md-6 control-label">Jornada de Trabajo</label>   
                    <div class="col-md-3">
                        <div class="form-group">
                            <select id="jornada_job" class="form-control form_inputs" multiple="multiple" ng-model="filtro">
                                <option>Fines de semana</option>
                                <option>Tiempo completo</option>
                                <option>Medio tiempo</option>
                                <option>Por horas</option>
                            </select>
                        </div>
                    </div>    
                </div>
                <div class="form-group">
                    <label class="col-md-6 control-label">Categoria</label>
                    <div class="col-md-3">
                        <div class="form-group">
                            <select id="categorias" class="form-control form_inputs" multiple="multiple" ng-model="filtro">
                                <option>Ventas</option>
                                <option>Administración</option>
                                <option>Oficina</option>
                                <option>Informática</option>
                                <option>Telecomunicaciones</option>
                                <option>Hostelería</option>
                                <option>Turismo</option>
                                <option>Atención a clientes</option>
                                <option>Contabilidad</option>
                                <option>Finanzas</option>
                                <option>Transporte</option>
                                <option>Manufactura</option>
                                <option>Mercadotécnia / Publicidad</option>
                                <option>Construccion y obra</option>
                                <option>CallCenter / Telemercadeo</option>
                                <option>Ingeniería</option>
                                <option>Docencia</option>
                                <option>Recursos Humanos</option>
                            </select>
                        </div>
                    </div>  
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Edad</label>
                    <div class="col-md-3">
                        <label class="col-md-3 control-label">Desde</label>
                        <div class="form-group" id="min_edad">
                            <select class="form-control form_inputs" ng-model="filtro">
                                <option  ng-repeat="edad in min_edad">{{edad}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label class="col-md-3 control-label">Hasta</label>
                        <div class="form-group" id="max_edad">
                            <select class="form-control form_inputs" ng-model="filtro">
                                <option  ng-repeat="edad in max_edad">{{edad}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-6 control-label">Ubicación</label>
                    <div class="col-md-3">
                        <div class="form-group" id="ubicacion">
                            <select class="form-control form_inputs" ng-model="filtro">
                                <option ng-repeat="lugar in ubicacion">{{lugar}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </center>                
    </div>
    <!--    RESULTADOS-->
    <div class="panel panel-default col-md-8 col-md-offset-2">
        <div class="panel-body">
            <br/>
            <div class="panel-heading"><center><h1>Resultados</h1></center></div>
            <!--            Search: <input ng-model="searchText">-->
            <div class="row perfil" ng-repeat="perfil in candidatos | filter:filtro[0]">
                <div class="col-md-2 col-md-offset-1">
                    <a ui-sref="info({idPerfil: perfil.candidato.id})"><img src="{{perfil.candidato.personales.imagen}}" alt="" class="img-rounded imgPerfil"></a>
                </div>
                <div class="col-md-8 col-md-offset-1">
                    <h2>{{perfil.candidato.personales.nombre}} {{perfil.candidato.personales.apellido}}</h2>                          
                    <h4>{{perfil.candidato.personales.email}}</h4>                                            
                    <h4>{{perfil.candidato.estudios.nivel}}</h4>                       
                </div>
            </div>
        </div>
        <!--  <div class="panel-footer">Pie del panel</div>-->
    </div>
</div>